---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc">Learn more about our mission and team</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-6 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800 text-center">Who We Are</h2>
      <p class="text-lg leading-relaxed text-slate-600">
        FlowHouse is a data infrastructure advisory practice that helps companies design, scale, and optimize modern data systems. Our mission is to empower organizations to harness the full potential of their data by providing expert guidance and innovative solutions.
      </p>
      <p class="text-lg leading-relaxed text-slate-600">
        Founded by Ahmed, a former Fivetran engineer who helped build the company’s core replication products, we bring deep technical expertise and practical experience to every engagement.
      </p>
      <p class="text-lg leading-relaxed text-slate-600">
        Whether it's building scalable CDC pipelines, improving reliability, or reducing cloud costs, we partner with teams to streamline data delivery and create systems built for growth.
      </p>
    </div>

    <div class="mt-16">
      <h2 class="font-bold text-2xl text-gray-800 text-center mb-8">
        Meet Our Team
      </h2>
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl">
        {publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-sm transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
